/* Global Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu TAS Beginner", cursive;
}

img {
  height: 270px;
  width: 270px;
}

/* Header */

header {
  background-image: url(../img/wall.png);
  height: 150px;
  text-align: center;
  h1 {
    font-size: 4.5rem;
    padding: 2rem 0;
    font-weight: 700;
  }
}

/* date font: 👉🏻 font-family: "Sometype Mono", monospace; */
body {
  background-image: url(../img/cork.png);
  main {
    .photo_card {
      background-color: white;
      height: 360px;
      width: 300px;
      text-align: center;
      .card_body {
        padding-top: 1rem;
      }
    }
  }
}
